@scope (button.base-button) {
  :scope {
    --at-apply: "p-[0.5em] rounded-[0.5em]";

    &[data-variant="primary"] {
      --at-apply: "bg-blue-500 text-white";

      &:hover {
        --at-apply: "bg-blue-600";
      }

      &:focus-visible {
        --at-apply: "bg-blue-800";
      }

      &:active {
        --at-apply: "bg-blue-900";
      }
    }

    &[data-variant="secondary"] {
      --at-apply: "bg-orange-500 text-white";

      &:hover {
        --at-apply: "bg-orange-600";
      }

      &:focus-visible {
        --at-apply: "bg-orange-800";
      }

      &:active {
        --at-apply: "bg-orange-900";
      }
    }
  }
}
