---
import "./_component/icon/astro.css"
import "./_component/icon/airplain.css"
import AstroAstro from "icon:astro/my/astro"
import PhAirplaneTiltThinAstro from "icon:astro/ph/airplane-tilt-thin"
import AstroReact from "icon:react/my/astro"
import PhAirplaneTiltThinReact from "icon:react/ph/airplane-tilt-thin"
import AstroSvelte from "icon:svelte/my/astro"
import PhAirplaneTiltThinSvelte from "icon:svelte/ph/airplane-tilt-thin"
import Layout from "#@/feature/layout/Layout.astro"
---

<Layout>
	<div
		class="flex flex-col gap-4 [&>*]-w-[fit-content] items-center justify-center p-10"
	>
		<div class="[&>*]-(flex gap-1 items-center)">
			<p>Icontify</p>
			<div>
				<span>Astro:</span><PhAirplaneTiltThinAstro width={24} height={24} />
			</div>
			<div>
				<span>React:</span><PhAirplaneTiltThinReact width={24} height={24} />
			</div>
			<div>
				<span>Svelte:</span><PhAirplaneTiltThinSvelte width={24} height={24} />
			</div>
			<div>
				<span>UnoCSS:</span><div class="i-ph-airplane-tilt-thin w-6 h-6" />
			</div>
			<div>
				<span>UnoCSS(@apply):</span><div class="icon-ph-airplane-tilt-thin" />
				<!--
				Bad pattern
				If @apply is used, the size must be set on the class side due to priority issues.
				<span>UnoCSS(@apply):</span><div class="icon-ph-airplane-tilt-thin w-6 h-6" />
				-->
			</div>

			<p class="pt-4">Custom</p>
			<div>
				<span>Astro:</span><AstroAstro width="1em" height="1em" />
			</div>
			<div>
				<span>React:</span><AstroReact width="1em" height="1em" />
			</div>
			<div>
				<span>Svelte:</span><AstroSvelte width="1em" height="1em" />
			</div>
			<div>
				<span>UnoCSS:</span><div class="i-my-astro" />
			</div>
			<div>
				<span>UnoCSS(@apply):</span><div class="icon-astro" />
			</div>
		</div>
	</div>
</Layout>
