@scope (a.base-anchor) {
  :scope {
    --at-apply: "text-blue-500 underline";

    &:visited {
      --at-apply: "text-blue-600";
    }

    &:hover {
      --at-apply: "text-blue-700";
    }

    &:focus-visible {
      --at-apply: "text-blue-800";
    }

    &:active {
      --at-apply: "text-blue-900";
    }
  }
}
