---
import BaseButtonAstro from "#@/component/atom/button/Button.mist.astro";
import { BaseButton as BaseButtonReact } from "#@/component/atom/button/Button.mist.js";
import BaseButtonSvelte from "#@/component/atom/button/Button.mist.svelte";
import Layout from "#@/component/layout/Layout.astro";
---

<Layout>
  <div
    class="flex flex-col gap-4 [&>*]-w-[fit-content] items-center justify-center p-10"
  >
    <div class="flex flex-col gap-1 items-center">
      <p>Primary</p>
      <BaseButtonAstro variant="primary">Astro</BaseButtonAstro>
      <BaseButtonReact variant="primary">React</BaseButtonReact>
      <BaseButtonSvelte variant="primary">Svelte</BaseButtonSvelte>
    </div>
    <div class="flex flex-col gap-1 items-center">
      <p>Secondary</p>
      <BaseButtonAstro variant="secondary">Astro</BaseButtonAstro>
      <BaseButtonReact variant="secondary">React</BaseButtonReact>
      <BaseButtonSvelte variant="secondary">Svelte</BaseButtonSvelte>
    </div>
  </div>
</Layout>
